.header {
    height: 6em;
    background-color: #b0daf1;
}

body {
    background-color: #eeeeee;
}

.reservation > p {
    margin: 3em 0 0 0;
}

div.inactive {
    background-color: rgba(0, 0, 0, 0.15);
}

img.icon__svg {
    width: 15px;
    height: 15px;
}

span.badge-overlap {
    position: relative;
    top: -15px;
    left: 55px;
}

a.anchor--disabled {
    pointer-events: none;
    color: #476b8b;
}

td#card-container > div {
    margin-bottom: .25rem !important;
}

td#card-container > div:last-child {
    margin-bottom: 0 !important;
}

div.card--disabled {
    background-color: #bfbfbf;
    color: #5e5e5e;
}

td.disabled {
    background-color: #d0d0d0;
}

td.current {
    background-color: #ffd1d1;
}

ul.errorlist {
    margin-bottom: 0
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #D3D3D3;
}