{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% for event_obj in event_agg %}
        <div class="row m-4">
            <div class="col-12"><h1>{% trans event_obj.title %} ({{ event_obj.start_time|time:"TIME_FORMAT" }} - {{ event_obj.end_time|time:"TIME_FORMAT" }})</h1></div>
            <div class="card-deck col-12">
                {% for event in event_obj.events %}
                    <div class="card m-3" style="min-width: 300px; max-width: 300px;">
                        <div class="card-body">
                            <h3 class="card-title">{{ event.reservation.event_name }}</h3>
                            <p class="card-text">{{ event.space }}</p>
                        </div>
                    </div>
                {% empty %}
                    <h5 class="ml-4">{% trans 'No events to show' %}</h5>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="row ml-4 mb-4">
        <div class="col">
            <a type="button" role="button" class="btn btn-primary" href="{% url 'event_schedule' %}">{% trans 'Further events'%}</a>
        </div>
    </div>
    <div class="row mx-4">
        <div class="col">
            <h1>{% trans 'About TrainingWell' %}</h1>
        </div>
    </div>
    <div class="row mx-5 mb-4">
        <div class="col">
            <b>VALORES</b>
            <p>Somos conscientes de que velar por la salud y el bienestar es cada día más importante en un mundo frenético como el nuestro, donde los ratos de paz y tranquilidad para reencontrarnos con nuestros compañeros son un bien escaso. Igualmente, muchos pequeños equipos no pueden disponer de instalaciones propias para entrenar o realizar sus actividades.<p>
            <p>TrainingWell nace como un servicio para aquellos deportistas amateur o semiprofesionales que deseen acceder a instalaciones de nivel profesional por unas horas o días sin tener que asumir elevados costes.</p>
        </div>
        <div class="col">
            <b>DATOS DE INTERÉS</b>
            <ul>
                <li>Fecha mínima de Cancelación: Mínimo 1 semana</li>
                <li>Fecha mínima de Reserva    Mínimo 1 semana</li>
                <li>
                    Tipos de Instalaciones
                    <ul>
                        <li>Pista de futbol</li>
                        <li>Pistas de Paddle</li>
                        <li>Pistas de deporte indoor (futbol sala, baloncesto, balonmano)</li>
                    </ul>
                </li>
                <li>Precio de las Instalaciones
                    <ul>
                        <li>12€ pistas de paddle</li>
                        <li>30€ pistas indoor</li>
                        <li>50€ pistas de futbol</li>
                    </ul>
                </li>
                <li>Horario de la instalación: Único horario de 10.00 a 23.00</li>
            </ul>
        </div>
        <div class="col">
            <b>INSTALACIONES</b>
            <p>El complejo cuenta actualmente con una superficie de más de 50.000m2 que da cabida a todo tipo de instalaciones.</p>
            <p>Tiene un pabellón polideportivo con capacidad para 1040 espectadores, 3 salas de fitness, vestuarios con sauna y jacuzzi, 1 frontón cubierto, pistas de baloncesto, pista polideportiva, pista de atletismo, 10 pistas de tenis de tierra, piscina cubierta, parque infantil , bar-restaurante y una zona social con dos salas de juegos, hemeroteca, sala-aula de Tv y una ludoteca.</p>
            <p>Atención: no se permite la entrada de animales en nuestras instalaciones.</p>
        </div>
    </div>
{% endblock %}