{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% for event_obj in event_agg %}
        <div class="row m-4">
            <div class="col-12"><h1>{% trans event_obj.title %} ({{ event_obj.start_time|time:"TIME_FORMAT" }} - {{ event_obj.end_time|time:"TIME_FORMAT" }})</h1></div>
            <div class="card-deck col-12">
                {% for event in event_obj.events %}
                    <div class="card m-3" style="min-width: 300px; max-width: 300px;">
                        <div class="card-body">
                            <h3 class="card-title">{{ event.reservation.event_name }}</h3>
                            <p class="card-text">{{ event.space }}</p>
                        </div>
                    </div>
                {% empty %}
                    <h5 class="ml-4">{% trans 'No events to show' %}</h5>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="row ml-4 mb-4">
        <div class="col">
            <a type="button" role="button" class="btn btn-primary" href="{% url 'event_schedule' %}">{% trans 'Further events'%}</a>
        </div>
    </div>
{% endblock %}