{% extends 'base.html' %}

{% block pagetitle %}Events{% endblock %}

{% block headeritems %}
    <div class="col-2 vcentered">
        <form id="date-form" method="GET">
            {{ form.chosen_date }}
            <button class="btn btn-secondary" type="submit" style="margin-top: 0.5em">Submit</button>
        </form>
    </div>
{% endblock %}

{% block content %}
    <!-- TODO: make this scrollable -->
    <div class="card-deck w-100 row-cols-md-3" style="height: min-content">
        {% for event in event_list %}
            {% include 'eventApp/event_card.html' with event=event %}
        {% empty %}
            <div class="row">
                <h1>No events at the time</h1>
            </div>
        {% endfor %}
    </div>
{% endblock %}