{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'CSS/incidence.css' %}">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h4 class="navbar-brand">{% trans 'Incidences' %}</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button id="new" class="nav-link btn">{% trans 'New Incidence' %}</button>
                </li>
                <li class="nav-item">
                    <button id="show-completed" class="nav-link btn">{% trans 'Show completed' %}</button>
                </li>
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle btn" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans 'Order by' %}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <button id="filter-deadline" class="dropdown-item btn">{% trans 'Deadline date' %}</button>
                      <button id="filter-created" class="dropdown-item btn">{% trans 'Creation date' %}</button>
                      <button id="filter-disabled" class="dropdown-item btn">{% trans 'Disabled spaces' %}</button>
                      <div class="dropdown-divider"></div>
                      <button class="dropdown-item btn">{% trans 'DISABLED' %}</button>
                    </div>
                </li>
                <li class="nav-item">
                    <button id="mark-selected" class="nav-link btn">{% trans 'Set selected as completed' %}</button>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input id="searcher" class="form-control mr-sm-2" type="search" placeholder="Search (by Name)" aria-label="Search">
            </form>
          </div>
    </nav>
    <div class="card-deck w-100 px-3" style="height: min-content">
        <div id="incidences-content" class="row w-100 my-3">
            {% for incidence in incidences %}
                {% include 'eventApp/incidence_card.html' with incidence=incidence %}
            {% empty %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    let selectedIncidences = [];
    let showCompleted = false;
    Array.from(document.getElementsByClassName("ongoing")).forEach((elem) => {
        elem.addEventListener("click", () => {
            elem.classList.toggle('selected');
            if (selectedIncidences.includes(elem.id)) {
                selectedIncidences = selectedIncidences.filter(id => id !== elem.id);
            } else { selectedIncidences.push(elem.id);}
        });
    });

    $('#show-completed').click(() => {
        showCompleted = !showCompleted;
        event.target.innerHTML = showCompleted ? "{% trans 'Hide completed' %}" : "{% trans 'Show completed' %}";
        Array.from(document.getElementsByClassName("completed")).forEach((elem) => {
            elem.style.display = showCompleted ? "" : "none";
        });
    });

    $('#searcher').keyup(() => {
        let text = event.target.value.toUpperCase();
        Array.from(document.getElementsByClassName('card')).forEach(elem => {
            if (elem.children[0].children[0].children[0].innerText.toUpperCase().indexOf(text) > -1) {
                elem.parentElement.style.display = '';
            } else { elem.parentElement.style.display = 'none';}
        });
    });

    $('#mark-selected').click(() => {
        if (selectedIncidences.length === 0) {
            alert('{% trans 'You did not select any incidence' %}')
        } else {
            if (confirm('{% trans 'Are you sure you want to mark as completed?'%}')) {
                $.ajax({
                    url : '{% url "ajax_completed" %}',
                    data: {
                        'ids': selectedIncidences,
                    },
                    dataType: 'json',
                    success: function (_) {
                        selectedIncidences.forEach(id => {
                            let elem = document.getElementById(id);
                            selectedIncidences = selectedIncidences.filter(_id => _id !== id);
                            elem.classList.remove('selected');
                            elem.parentElement.classList.add('completed');
                            elem.parentElement.style.display = 'none';
                            elem.children[0].children[0].children[0].innerText += ' (Completed)';
                        })
                    }
                });
            }
        }
    });


</script>
{% endblock %}