{% load i18n %}

<div class="container border-bottom">
    <div class="row p-2">
        <div class="col">
            <div class="row">
                <h5 class="m-0">{{ noti.title }}</h5>
            </div>
            <div class="row">
                <p class="m-0">{{ noti.content }}</p>
            </div>
        </div>
        <div class="col p-0 d-flex justify-content-center align-items-center">
            <a class="mark_read_noti" href="/events/notification/{{ noti.pk }}">Mark as read</a>
        </div>
    </div>
</div>