{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="reservation-detail">
        <div class="reservation">
         <div class="card-body">
            <h2>{{ reservation.event_name }}</h2>
            <p>{% trans 'Name organizer: ' %}{{ reservation.organizer }}</p>
            <p>{% trans 'Reservation date : ' %}{{ reservation.reservation_date }}</p>
            <p>{% trans 'Price: ' %} {{ reservation.price }}€</p>
            {% if  reservation.is_paid %}
                <p>{% trans 'The reservation is already payed!' %}</p>
            {% else %}
               <p>{% trans 'The reservation hasn not been payed yet.' %}</p>
            {% endif %}
         </div>
        </div>
    </div>
{% endblock %}