<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    <div class="reservation-detail">
        <div class="reservation">
            <h2>{{ reservation.event_name }}</h2>
            <p>{{ reservation.organizer }}</p>
            <p>{{ reservation.reservation_date }}</p>
            <p>{{ reservation.price }}</p>
            <p>{{ reservation.organizer }}</p>
            <p>{{ reservation.is_paid }}</p>
        </div>
    </div>
</body>
</html>