{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" type="text/css" href='{% static "CSS/reservation.css" %}'>
    <style>
        .can-reserve:hover:before { content: "{% trans 'Reserve Now!' %}";}
        .cannot-reserve:hover:before { content: "{% trans 'Not available' %}";}
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3" style="margin-top: 16px; margin-left: 16px">
            <ul class="pagination">
                <li id="previous-week" class="page-item">
                    <button id="get-previous-week" class="page-link" tabindex="-1">{% trans 'Previous' %}</button>
                </li>
                <li class="page-item">
                    <button id="get-next-week" class="page-link">{% trans 'Next' %}</button>
                </li>
            </ul>
        </div>
    </div>

    <div id="schedule" class="row d-flex justify-content-center" style="position: relative"></div>

    <div class="row d-flex justify-content-center" style="margin-top: 2%">
        <div class="col-1">
            <button id="cancel" class="btn btn-secondary w-100" style="display: block">{% trans 'Cancel' %}</button>
        </div>

        <div class="col-1">
            <form id="reservation_submit" method="POST" action="{% url 'schedule_view' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary w-100" style="display: block">{% trans 'Confirm' %}</button>
            </form>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% trans 'Available Spaces' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="modal-day-hour">
            </div>
            <div id="modal-spaces">

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="save-changes" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        let json_string = JSON.parse('{{ scheduleJSON | escapejs }}');
        let json_space_description = JSON.parse('{{ spaceDescrJSON | escapejs }}');
        let firstDaySchedule = new Date(Object.keys(json_string)[0]);
        let day, hour;
        let selected = {};

        Date.prototype.MAX_DAYS = 6;
        Date.prototype.addDays = function(days) {
            let date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
        };
        Date.prototype.daysDifference = function(d2) {
            let days = parseInt((this - d2)/1000/3600/24);
            if (days > -this.MAX_DAYS ) {
                return days;
            } else {
                return -this.MAX_DAYS;
            }
        };

        function click_reserve(elem) {
            let id = elem.id.split(' ');
            day = id[0];
            hour = id[1];
            let buttonData = json_string[day][hour];
            $('#modal-day-hour').html('{% trans 'Select Spaces at' %} ' + day.toString() + ' - ' + hour.toString());
            let innerHtml = "";

            for (let [space_id, space_name] of Object.entries(buttonData)) {
                let key = timeToSeconds(day, hour);
                let is_checked = selected.hasOwnProperty(key) && selected[key].includes(space_id) ? "checked" : "";
                let desc = json_space_description[space_name];
                innerHtml += "<label class='container-checkbox more-info'>" + space_name +
                    "<span class='more-info-text'>"+desc+"</span>" +
                    "<input id='" + space_id.toString() + "' type='checkbox' " + is_checked + ">" +
                    "<span class='checkmark'></span></label></br>"
            }
            $('#modal-spaces').html(innerHtml);

        }
        function canGoPreviousWeek() {
            if (-new Date().daysDifference(firstDaySchedule) < 1) {
                $('#previous-week').addClass('disabled');
            } else {
                $('#previous-week').removeClass('disabled');
            }
        }
        function changeWeek(dateRequest) {
            $.ajax({
                url : '{% url "ajax_change_week" %}',
                data: {
                    'year': dateRequest.getFullYear(),
                    'month': dateRequest.getMonth()+1,
                    'day': dateRequest.getDate()
                },
                dataType: 'json',
                success: function (data) {
                    json_string = data;
                    changeSchedule();
                }
            });
        }

        function restartListeners() {
            Array.from(document.getElementsByClassName("can-reserve")).forEach((elem) => {
                elem.addEventListener("click", () => { click_reserve(event.target); });
            });
        }

        $('#reservation_submit').submit((event) => {
            if (jQuery.isEmptyObject(selected)) {
                alert('{% trans 'You did not select any block' %}')
                event.preventDefault();
            } else {
                $('<input />').attr("type", "hidden")
                    .attr("name", "reservations")
                    .attr("value", JSON.stringify(selected))
                    .appendTo('#reservation_submit');
            }
        });

        $('#cancel').click(() => {
            if (confirm('{% trans 'Do you want to cancel and return?' %}')) {
                location.href = '{% url 'reservations' %}';
            }
        });

        $('#save-changes').click(() => {
            let selectedSpaces = [];
            $('#modal-spaces input[type=checkbox]:checked').each( (_, space_id) => {
                selectedSpaces.push(space_id.id);
            });
            addSpaces(day, hour, selectedSpaces);
        });

        function addSpaces(day, hour, value) {
            let key = timeToSeconds(day, hour);
            let elemID = day + ' ' + hour;
            let btn = document.getElementById(elemID);
            if (value.length > 0) {
                selected[key] = value;
                btn.classList.add('bg-warning');
                btn.classList.remove('bg-success');
            } else {
                if (selected.hasOwnProperty(key)) {
                    delete selected[key];
                    btn.classList.add('bg-success');
                    btn.classList.remove('bg-warning');
                }
            }
        }

        function timeToSeconds(day, hour) {
            if (hour.length <= 4) { hour = '0'+hour}
            let date = new Date(day+"T"+hour);
            return (date.getTime()/1000).toString();
        }

        $('#get-previous-week').click(() => {
            changeWeek(new Date(firstDaySchedule).addDays(new Date().daysDifference(firstDaySchedule)));
        });

        $('#get-next-week').click(() => {
            changeWeek(new Date(firstDaySchedule).addDays(firstDaySchedule.MAX_DAYS));
        });

        function changeSchedule() {
            let scheduleContent = "";
            for (let [day, daily] of Object.entries(json_string)) {
                scheduleContent += createDiv(['col-xl-2', 'col-lg-4', 'col-md-6', 'col-sm-12']);
                    scheduleContent += createDiv(['col-12'], ['text-align: center', 'display: block', 'margin-left: 2%', 'margin-right: 2%', 'margin-top: 2%']);
                        scheduleContent += "<h6>"+day+"</h6>";
                    scheduleContent += "</div>\n";
                    for (let [hour, spaces] of Object.entries(daily)) {
                        scheduleContent += createDiv(['col-12'], ['margin: 2%']);
                        if (spaces === undefined || Object.keys(spaces).length === 0) {
                            scheduleContent += createDiv(['w-100', 'rounded', 'bg-danger', 'text-white', 'cannot-reserve'], ['text-align: center', 'display: block','padding: 2px']);
                                scheduleContent+=createSpan(hour);
                            scheduleContent += "</div>\n";
                        } else {
                            scheduleContent += createSuccessButton(day+" "+hour, hour);
                        }
                        scheduleContent += "</div>\n";
                    }
                scheduleContent += "</div>\n";
            }
            let newDate = new Date(Object.keys(json_string)[0]);
            let positionAnimate = newDate > firstDaySchedule ? 200 : -200;
            let elem = $('#schedule');
            firstDaySchedule = newDate;
            elem.animate({
                left: '-='+positionAnimate,
                opacity: '0'
            }, 400, 'swing', function () {
                elem.css('left', '+='+2*positionAnimate);
                elem.html(scheduleContent);
                elem.animate({
                    left: '-='+positionAnimate,
                    opacity: 1,
                }, 400, 'swing', function () {
                    canGoPreviousWeek();
                    restartListeners();
                });
            });
        }

        function createDiv(classList, styleList) {
            let classes = classList !== undefined && classList.length > 0? 'class="'+classList.join(" ")+'" ' : "";
            let styles  = styleList !== undefined && styleList.length > 0? 'style="'+styleList.join(";")+'" ' : "";
            return "<div " + classes + styles + ">\n";
        }

        function createSuccessButton(id, content) {
            return "<button id='"+id+"' class=\"w-100 rounded bg-success text-white can-reserve\" data-toggle=\"modal\" data-target=\"#exampleModal\" style=\"text-align: center; display: block\">\n"+createSpan(content)+"</button>\n";
        }

        function createSpan(content) {
            return "<span>"+content+"</span>";
        }

        changeSchedule();

    </script>
{% endblock %}