{% load i18n %}
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card w-100 h-100">
        <div class="card-body">
            <h6 class="card-title">{{ s.name }}</h6>
            <p class="card-text">{% blocktrans with d=s.start_date|date:"DATE_FORMAT" %}Start Date: {{ d }}{% endblocktrans %}</p>
            <p class="card-text">{% blocktrans with d=s.end_date|date:"DATE_FORMAT" %}End Date: {{ d }}{% endblocktrans %}</p>
            <p class="card-text">{% blocktrans with t=s.open_time|time:"TIME_FORMAT" %}Facilities open hour: {{ t }}{% endblocktrans %}</p>
            <p class="card-text">{% blocktrans with t=s.close_time|time:"TIME_FORMAT" %}Facilities close hour: {{ t }}{% endblocktrans %}</p>
        </div>
        <div class="card-footer">
            <a href="#" class="card-link">Edit</a>
        </div>
    </div>
</div>