{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'CSS/incidence.css' %}">
{% endblock %}
{% block content %}
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h4 class="navbar-brand">{% trans 'Spaces' %}</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <button id="new" class="nav-link btn">{% trans 'New Space' %}</button>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input id="searcher" class="form-control mr-sm-2" type="search" placeholder="Search (by Name)" aria-label="Search"> <!--diferente a bootstrap-->
            </form>
          </div>
    </nav>
    <div class="card-deck w-100 px-3" style="height: min-content">
            {% for space in spaces %}
                {% include 'eventApp/space_card.html' with space=space %}
            {% empty %}
            {% endfor %}
    </div>
{% endblock %}