{% load static %}
{% load i18n %}
{% load template_tags %}
<!doctype html>
<html class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "CSS/base.css" %}">
        {% block head %}{% endblock %}
        <title>Trainingwell App</title>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand">TrainingWell</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                {% if request.user|has_group:"organizers" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reservations' %}">{% trans 'Reservations' %}</a>
                    </li>
                {% endif %}
                {% if request.user|has_group:"facility" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'incidences' %}">{% trans 'Incidences' %}</a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <div class="mr-5">
                    <span id="noti-count" class="badge badge-pill badge-danger badge-overlap"></span>
                    <button type="button" class="btn btn-secondary" data-toggle="popover" data-placement="bottom">
                        <svg class="bi bi-bell-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 16a2 2 0 002-2H6a2 2 0 002 2zm.995-14.901a1 1 0 10-1.99 0A5.002 5.002 0 003 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"></path>
                        </svg>
                    </button>
                </div>
                <a class="btn btn-primary" href="/accounts/logout">Logout</a>
            {% else %}
                <a class="btn btn-primary" href="/accounts/login">Login</a>
            {% endif %}
        </nav>
        <div class="container mw-100 h-100 d-flex flex-column p-0">
            {% block content %}
            {% endblock %}
            <div class="row footer mx-5 border-top border-light" style="height: 3em;">
                {% block footer %}
                {% endblock %}
            </div>
        </div>
    {% if user.is_authenticated %}
        <div id="notification-popover__content" style="display: none">
            {% for noti in notifications %}
                {% include 'eventApp/notification.html' with noti=noti %}
            {% empty %}
                <p class="p-2 m-0 border-bottom">{% trans 'No unread notifications' %}</p>
            {% endfor %}
            <div class="container p-0 m-1 position-relative">
                <a href="" role="button" class="js-all-read m-1 {{ notifications|length|yesno:",anchor--disabled" }}">{% trans 'Mark all as read' %}</a>
            </div>
        </div>
    {% endif %}
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {{ form.media }}
    <script type="text/javascript" src="{% static 'JS/notification_popover.js' %}"></script>
    <script>
        // Set notification count
        const count = {{ notifications|length }}
        $('#noti-count').text(count > 0 ? count : '');

        // Create popover
        create_popover($.parseHTML('{% csrf_token %}')[0].value);
    </script>
    {% block scripts %}
    {% endblock %}
</html>