{% load static %}
{% load i18n %}
<!doctype html>
<html class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "CSS/base.css" %}">
        {% block head %}{% endblock %}
        <title>Trainingwell App</title>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand">TrainingWell</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reservations' %}">{% trans 'Reservations' %}</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <a class="btn btn-primary" href="/accounts/logout">Logout</a>
            {% else %}
                <a class="btn btn-primary" href="/accounts/login">Login</a>
            {% endif %}
        </nav>
        <div class="container mw-100 h-100 d-flex flex-column p-0">

            {% block content %}
            {% endblock %}
            <div class="row footer mx-5 border-top border-light" style="height: 3em;">
                {% block footer %}
                {% endblock %}
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {{ form.media }}
    {% block scripts %}
    {% endblock %}
</html>